ApiBotDiscord/.vs/ApiBotDiscord/DesignTimeBuild/.dtbcache.v2
ApiBotDiscord/.vs/ApiBotDiscord/DesignTimeBuild/.dtbcache.v2
ApiBotDiscord/.vs/ApiBotDiscord/FileContentIndex/295a2b97-5f0c-44ef-9ab2-87367c7e1b48.vsidx
ApiBotDiscord/.vs/ApiBotDiscord/FileContentIndex/b4dfae94-e727-408d-a774-4a7eb758c1e6.vsidx
ApiBotDiscord/.vs/ApiBotDiscord/FileContentIndex/


.env
