.mainCadastrar{
    display: grid;
    grid-template-columns: auto;
    padding: 1rem;
    align-self: auto;
    background-color: var(--background-color);
}
.formCadastrar{
    display: grid;
    grid-template-columns: auto auto;
}
.secaoPreencher{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px;
    padding: 2px;
}
.inputCadastrar{

    height: 21px;
    width: 21rem;
}
.inputCadastrarDescricao{
    resize: none;
    height: 42px;
    width: 28rem;
}
.botaoCadastrar{
    background-color: var( --button-background);
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    padding: 1rem;
}
.botaoCadastrar:hover{
    background-color: var( --button-hover-background);
    border-radius: 6px;
    cursor: pointer;
}
