:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --background-color: #1c1c1c;
    --border-color: #ccc;
    --button-background: #bbbbbb;
    --button-hover-background: #000000;
    --button-color: white;
    --input-border: #1c1c1c;
    --input-padding: 8px;
    --border-radius: 4px;
  }
.principalForm{
  width: 13rem;
  padding: 1rem;
  background-color: var(--background-color);
}
.botaologin{
  margin-top: 6px;
}
.botaologin:hover{
  cursor: pointer;
}